@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx" class="js">

<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="./home/images/ATD_Logo.jpg">
    <!-- Page Title  -->
    <title>Home | DashLite Admin Template</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="./home/css/dashlite.css">
</head>

<body class="nk-body bg-white npc-landing ">
    <div class="nk-app-root">
        <!-- main -->
        <div class="nk-main ">
            <header class="header has-header-main-s1 bg-grad-a mb-5 mb-sm-6 mb-md-7" id="home">
                <div class="header-main header-main-s1 is-sticky is-transparent on-dark">
                    <div class="container header-container">
                        <div class="header-wrap">
                            <div class="header-logo">
                                <a href="html/index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./home/images/ATD_Logo.jpg" srcset="./home/images/ATD_Logo.jpg" alt="logo">
                                </a>
                            </div>
                            <div class="header-toggle">
                                <button class="menu-toggler" data-target="mainNav">
                                    <em class="menu-on icon ni ni-menu"></em>
                                    <em class="menu-off icon ni ni-cross"></em>
                                </button>
                            </div><!-- .header-nav-toggle -->
                            <nav class="header-menu" data-content="mainNav">
                                <ul class="menu-list ms-lg-auto">
                                    <li class="menu-item"><a href="#home" class="menu-link nav-link">Home</a></li>
                                    <li class="menu-item"><a href="#service" class="menu-link nav-link">Service</a></li>
                                    <li class="menu-item"><a href="#reviews" class="menu-link nav-link">Reviews</a></li>
                                    <li class="menu-item"><a href="#feature" class="menu-link nav-link">Features</a></li>
                                    <li class="menu-item"><a href="#faqs" class="menu-link nav-link">Faqs</a></li>
                                </ul>
                                <ul class="menu-btns">
                                    <li>
                                        <a class="btn btn-primary btn-lg" asp-area="Identity" asp-page="/account/Login">Log in</a>
                                    </li>
                                </ul>
                            </nav><!-- .nk-nav-menu -->
                        </div><!-- .header-warp-->
                    </div><!-- .container-->
                </div><!-- .header-main-->
                <div class="header-content my-auto py-5 is-dark">
                    <div class="container">
                        <div class="row justify-content-center text-center">
                            <div class="col-lg-7 col-md-10">
                                <div class="header-caption">
                                    <h1 class="header-title">Attajdid Islamiyya kungiyar dawo da hadin kan musulmi</h1>
                                    <div class="header-text">
                                        <h3>
                                            الله غايتنا.الرسول قدوتنا.القرءان دستورنا.الجهاد سبيلنا.الموت في سبيل الله اسمى امانينا
                                        </h3>
                                    </div>
                                </div><!-- .header-caption -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .header-content -->
                <div class="header-image mb-n5 mb-sm-n6 mb-md-n7">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-7">
                                <div class="card overflow-hidden p-2 bg-light">
                                    <img src="./home/images/ATD_Logo.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header><!-- .header -->
            <section class="section section-feature pb-0" id="feature">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-4">
                            <div class="img-block img-block-s1 left">
                                <img src="./home/images/Gusau_2.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block pe-xl-5">
                                <h2 class="title">Malam Aliyu Gusau</h2>
                                <p class="sub-text">Wajibi ne Ga duk Musulmin Duniya dasu Taimakawa Yan uwanmu falasdinawa da Addu'ah dakuma kudade da abinci,Domin aikin ne suke daukewa duk musulmin duniya wuin kae Masjidul Aqasah, wanda shine massallaci mai daraja ta uku a duniya.  </p>
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-feature">
                <div class="container">
                    <div class="row flex-row-reverse justify-content-between align-items-center">
                        <div class="col-lg-5">
                            <div class="img-block img-block-s1 right">
                                <img src="./home//images/Nafiu.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block">
                                <h2 class="title">Malam Muhammad Nafi'u</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section --> 
            <section class="section section-feature pb-0" id="feature">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-4">
                            <div class="img-block img-block-s1 left">
                                <img class="p-2" src="./home/images/Nura.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block pe-xl-5">
                                <h2 class="title">Malam Nura Adam Galadanci</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-feature">
                <div class="container">
                    <div class="row flex-row-reverse justify-content-between align-items-center">
                        <div class="col-lg-5"> 
                            <div class="img-block img-block-s1 right">
                                <img src="./home//images/Mujahid.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block">
                                <h2 class="title">Malam Abubakar Mujahid</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-feature pb-0" id="feature">
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-4">
                            <div class="img-block img-block-s1 left">
                                <img class="p-2" src="./home/images/Aikawa.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block pe-xl-5">
                                <h2 class="title">Malam Salihu Aikawa</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <section class="section section-feature">
                <div class="container">
                    <div class="row flex-row-reverse justify-content-between align-items-center">
                        <div class="col-lg-5">
                            <div class="img-block img-block-s1 right">
                                <img src="./home//images/Ibrahim.jpg" alt="Dashlite">
                            </div>
                        </div><!-- .col -->
                        <div class="col-lg-6">
                            <div class="text-block">
                                <h2 class="title">Malam Ibrahim Fagge</h2>
                                <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. </p>
                                
                            </div><!-- .text-block -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </section><!-- .section -->
            <footer class="footer bg-indigo is-dark bg-lighter" id="footer">
                <div class="container">
                    <div class="row g-3 align-items-center justify-content-md-between py-4 py-md-5">
                        <div class="col-md-3">
                            <div class="footer-logo">
                                <a href="html/index.html" class="logo-link">
                                    <img class="logo-light logo-img" src="./home/images/ATD_Logo.jpg" srcset="./home/images/ATD_Logo.jpg 2x" alt="logo">
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="logo-dark">
                                </a>
                            </div><!-- .footer-logo -->
                        </div><!-- .col -->
                        <div class="col-md-9 d-flex justify-content-md-end">
                            <ul class="link-inline gx-4">
                                <li><a href="#">How it works</a></li>
                                <li><a href="#">Service</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul><!-- .footer-nav -->
                        </div><!-- .col -->
                    </div>
                    <hr class="hr border-light mb-0 mt-n1">
                    <div class="row g-3 align-items-center justify-content-md-between py-4">
                        <div class="col-md-8">
                            <div class="text-base">Copyright &copy; 2022 Tech. Template Made by <a class="text-base fw-bold" href="#">Abdulmalik</a></div>
                        </div><!-- .col -->
                        <div class="col-md-4 d-flex justify-content-md-end">
                            <ul class="social">
                                <li><a href="#"><em class="icon ni ni-twitter"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-facebook-f"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-instagram"></em></a></li>
                                <li><a href="#"><em class="icon ni ni-pinterest"></em></a></li>
                            </ul><!-- .footer-icon -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </footer><!-- .footer -->
        </div>
        <!-- main  -->
    </div>
    <!-- app-root -->
    <!-- JavaScript -->
    <script src="./home/js/bundle.js"></script>
    <script src="./home/js/scripts.js"></script>
</body>

</html>